/output/
/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/lib/
/etc/ivy/ivy.jar
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup/
*.secret
archiva_credentials.xml
