################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Frontend/VIAProMa/Assets/SteamVR
/Frontend/VIAProMa/Assets/Photon
/Frontend/VIAProMa/Assets/GoogleARCore
/Frontend/VIAProMa/Assets/PlayServicesResolver
