/output/
/export/
/immersive_project_management_service/output/
/immersive_project_management_service/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/immersive_project_management_service/log/
/lib/
/etc/ivy/ivy.jar
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup/
*.secret
archiva_credentials.xml
.classpath
.project
.settings
/saveData/*
/projects/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
